//Menu wrapper
.menu-list {
    width: 224px;

    //Menu items
    .menu-item {
        margin-left: 0px;
    }
}

.menu-popper {
    padding-bottom: 9px;
}

.menu-item {
    width: 100%;
    justify-content: flex-start;
    border-radius: 0px;
    font-weight: 600;
    padding: 11px 16px;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
