.wrapper {
    width: 32rem;
    padding: 20px;
    border-radius: 8px;
    margin-top: -8px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.avatar {
    border-radius: 50%;
    width: 4.4rem;
    height: 4.4rem;
}

.follow-btn {
    padding: 6px 16px;
}

.nickname {
    line-height: 1;
    font-family: 'SofiaPro';
    color: #161823;
    font-size: 1.8rem;
}

.icon {
    margin-left: 5px;
    font-size: 1.4rem;
    color: rgb(32, 213, 236);
}

.name {
    padding-top: 5px;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(22, 24, 35);
}

.analytics {
    margin-top: 8px;
}

.value {
    font-weight: 700;
    margin-right: 6px;
    font-size: 17px;
}

.label {
    color: rgba(22, 24, 35, 0.75);
    font-size: 17px;
    margin-right: 12px;
}
