.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    background-color: var(--white);
    z-index: 10;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-tiktok {
    display: flex;
}

//Action
.actions {
    display: flex;
    align-items: center;
}

.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    padding: 4px 8px;
    background-color: transparent;
    cursor: pointer;
}

.action-btn {
    position: relative;
    background-color: transparent;
    font-size: 2.2rem;
    color: #161823;
    padding: 0px 11px;
    cursor: pointer;
}

.icon-btn {
    display: flex;
    align-items: center;
}

.inbox-red {
    position: absolute;
    content: '';
    min-width: 22px;
    top: -20%;
    left: 26px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    font-family: var(--font-family);
    background-color: var(--primary);
    color: var(--white);
    border-radius: 10px;
}

.upload-btn {
    width: 113px;
    padding: 9px 16px;
    font-size: 1.6rem;
    margin-right: 15px;
    font-weight: 600;
    border-radius: 1%;
    box-shadow: none;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50px;
    margin-left: 12px;
    cursor: pointer;
}
